.dashboard-title {
  padding-bottom: 1rem;
}
.dashboard-main {
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 1rem;
}

.side-bar {
  background-color: var(--fourth-color);
  box-shadow: 0px 0px 5px 2px var(--third-color);
  border-radius: 5px;
  display: grid;
  gap: 1rem;
  padding: 1rem;
  align-content: start;
}

.side-bar__title {
  font-weight: normal;
  padding-bottom: 0.5rem;
}
.my-color-events {
  background-color: var(--primary-color);
  font-weight: normal;
  padding: 0.3rem 1rem;
}
.others-color-events {
  background-color: var(--third-color);
  padding: 0.3rem 1rem;
  font-weight: normal;
}
.calendar {
  padding: 1rem;
  box-shadow: 0px 0px 5px 2px var(--third-color);
  border-radius: 5px;
}
