.navigation-header {
  display: grid;
  grid-auto-flow: column;
  place-content: space-between;
  padding-right: 1rem;
  box-shadow: 5px 0px 5px 3px #dedfe0;
}

.logo-section__item {
  display: grid;
  align-items: center;
  grid-auto-flow: column;
}
.logo-section__item img {
  width: 70px;
}
.logo-section__item h1 {
  margin-right: 1rem;
  color: var(--secondary-color);
}
.logo-section__item a {
  border: 1px solid var(--secondary-color);
  text-decoration: none;
  color: var(--secondary-color);
  padding: 0.5rem;
}
.logo-section__item a:hover {
  background-color: var(--secondary-color);
  color: white;
  transform: scale(1.1);
  transition: ease-in-out 0.5s;
}
.login-section {
  display: grid;
  gap: 1rem;
  list-style: none;
  grid-auto-flow: column;
  place-items: center;
}
.login-section__button button {
  padding: 0.5rem;
  border: 1px solid var(--secondary-color);
  background: none;
  color: var(--secondary-color);
  border-radius: 1px;
  cursor: pointer;
}
.login-section__info h3 {
  background-color: var(--primary-color);
  color: white;
  padding: 1rem;
  font-weight: 200;
}
.notification-container {
  cursor: pointer;
  position: relative;
}
.events-length {
  position: absolute;
  right: 0;
  background-color: red;
  color: white;
  font-weight: bold;
  display: grid;
  place-content: center;
  width: 20px;
  border-radius: 1rem;
  height: 20px;
}
